# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before being built by pyinstaller.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
目target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
#   For a library or project, you might want to ignore this file itself, but sometimes
#   it's better to share it.
.python-version

# pipenv
#   Rely on pipenv to have a deterministic build, but you can ignore pipenv
#   lock files if you want.
# Pipfile.lock

# Poetry
#   Rely on Poetry to have a deterministic build, but you can ignore poetry.lock if you want.
# poetry.lock

# pdm
#   Rely on PDM to have a deterministic build, but you can ignore pdm.lock if you want.
# pdm.lock
.pdm.toml

# PEP 582; used by e.g. pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.project
.pydevproject
.settings/

copy.py